
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Produkt</th>
    <th>Opis</th>
    <th>Cena</th>
  </tr>
  <tr *ngFor="let product of products">
    <div *ngIf="product.opis == 'promocja'">PROMO!</div>
    <td>{{ product.prodId }}</td>
    <td>{{ product.tytul}}</td>
    <td>{{ product.opis }}</td>
    <td>{{ product.cena }}</td>
  </tr>
</table>



<select [(ngModel)]="Product">
  <ng-container *ngFor="let p of products">
      <option [ngValue]="p">{{p.tytul}} ({{p.opis}})</option>
  </ng-container>
</select>


